$reveal-overlay-bg:      rgba(#000, .45);
$reveal-overlay-bg-old:  #000;

/* We use these to control the style of the modal itself. */
$reveal-modal-bg:        #fff;
$reveal-position-top:    emCalc(15px);
$reveal-default-width:   80%;
$reveal-modal-padding:   emCalc(20px);
$reveal-box-shadow:      0 0 10px rgba(#000,.4);

/* We use these to style the reveal close button */
$reveal-close-font-size: emCalc(22px);
$reveal-close-top:       emCalc(8px);
$reveal-close-side:      emCalc(11px);
$reveal-close-color:     #aaa;
$reveal-close-weight:    bold;

/* We use these to control the modal border */
$reveal-border-style:    solid;
$reveal-border-width:    1px;
$reveal-border-color:    #666;